
config wrtminer sample_config
  option wallet '435gzXQGg1VR4mHQwAcDNTLXHMZfAQpdZ1upiQP1UuTVfynb8LUPE97Fdy7EWd5Q6s1k9qS5LrTfRjFdvsmsrV6o3VgzGh7'
	option algorithm 'cryptonight'
	option username 'AlexLEDE'
	option password 'alexander.atallah@gmail.com'
	option pool 'stratum+tcp://pool.supportxmr.com'
  option port '3333'
	option enabled 1
